<?xml version="1.0" encoding="utf-8"?>

<RuleSet Name="All Rules" Description="All Rules" ToolsVersion="10.0">
	<Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll"
	              ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
		<Name Resource="All Rules" />
		<Description Resource="All Rules" />
	</Localization>
	<IncludeAll Action="Warning" />
	<Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
		<Rule Id="AD0001" Action="None" />
	</Rules>
	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<!--Static method on generic type-->
		<Rule Id="CA1000" Action="None" />
		<!--Mark assemblies with CLSCompliantAttribute-->
		<Rule Id="CA1014" Action="None" />
		<!--Do not catch general exception types-->
		<Rule Id="CA1031" Action="None" />
		<!--URI properties should not be strings-->
		<Rule Id="CA1056" Action="None" />
		<!--Validate arguments of public methods-->
		<Rule Id="CA1062" Action="None" />
		<!--Cross Platform-->
		<Rule Id="CA1416" Action="None" />
		<!--Avoid dead conditional code-->
		<Rule Id="CA1508" Action="None" />
		<!--Identifiers should not match keywords-->
		<Rule Id="CA1716" Action="None" />
		<!--Type names should not match namespaces-->
		<Rule Id="CA1724" Action="None" />
		<!--Avoid uninstantiated internal classes-->
		<Rule Id="CA1812" Action="None" />
		<!--Mark members as static-->
		<Rule Id="CA1822" Action="None" />
		<!--Disposable-->
		<Rule Id="CA2000" Action="None" />
		<!--ConfigureAwait-->
		<Rule Id="CA2007" Action="None" />

		<!--XML comment analysis is disabled due to project configuration-->
		<Rule Id="SA0001" Action="None" />
		<!--The parameter spans multiple lines-->
		<Rule Id="SA1118" Action="None" />
		<!--Trailing comma-->
		<Rule Id="SA1413" Action="None" />
		<!--ElementsMustBeDocumented-->
		<Rule Id="SA1600" Action="None" />
		<!--FileMustHaveHeader-->
		<Rule Id="SA1633" Action="None" />
	</Rules>
</RuleSet>